.root {
  display: block;
  font-weight: 400;
  overflow: auto;
  background: var(--theme-border-subdued);
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.number {
  display: inline-flex;
  width: 3ch;
  text-align: right;
  padding-right: 1ch;
  user-select: none;
  background: var(--theme-background);
  opacity: 0.5;
}

.content {
  min-width: 10%;
  width: 100%;
  white-space: pre;
  background: var(--theme-border-subdued);
  padding-left: 2ch;
}
