.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: var(--font-family-mono);
}

.label {
  background: var(--theme-button-foreground);
  color: var(--theme-text);
  flex-shrink: 0;
  padding: 0 1ch 0 1ch;
  user-select: none;
}

.inputWrapper {
  background: var(--theme-button-background);
  min-width: 10%;
  width: 100%;
  box-shadow: inset 0 0 0 2px var(--theme-button-foreground);
  transition: 200ms ease all;
  transition-property: box-shadow;
}

.input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--theme-text);
  font-family: var(--font-family-mono);
  font-size: 16px;
  padding: 0 1ch 0 1ch;

  &::placeholder {
    color: var(--theme-text-subdued);
  }
}

.focused {
  .label {
    background: var(--theme-focused-foreground);
  }

  .inputWrapper {
    box-shadow: inset 0 0 0 2px var(--theme-focused-foreground);
  }
}

.error {
  .label {
    background: var(--theme-error);
  }

  .inputWrapper {
    box-shadow: inset 0 0 0 2px var(--theme-error);
  }
}

.errorMessage {
  color: var(--theme-error);
  font-size: 14px;
  margin-top: 4px;
  padding-left: 1ch;
} 
